<openwebstudio>
  <formats>
    <admin name="r2i.OWS.Engine" type="r2i.OWS.Formatters.js" />
    <run name="0" type="r2i.OWS.Formatters.Default, r2i.OWS.Engine" />
    <run name="breakword" type="r2i.OWS.Formatters.BreakWord, r2i.OWS.Engine" />
    <run name="canedit" type="r2i.OWS.Formatters.CanEdit, r2i.OWS.Engine" />
    <run name="contains" type="r2i.OWS.Formatters.Contains, r2i.OWS.Engine" />
    <run name="count" type="r2i.OWS.Formatters.Count, r2i.OWS.Engine" />
    <run name="decodehtml" type="r2i.OWS.Formatters.DecodeHtml, r2i.OWS.Engine" />
    <run name="decodeuri" type="r2i.OWS.Formatters.DecodeUri, r2i.OWS.Engine" />
    <run name="decrypt" type="r2i.OWS.Formatters.Decrypt, r2i.OWS.Engine" />
    <run name="diff" type="r2i.OWS.Formatters.Diff, r2i.OWS.Engine" />
    <run name="encodehtml" type="r2i.OWS.Formatters.EncodeHtml, r2i.OWS.Engine" />
    <run name="encodeuri" type="r2i.OWS.Formatters.EncodeUri, r2i.OWS.Engine" />
    <run name="encodewiki" type="r2i.OWS.Formatters.EncodeWiki, r2i.OWS.Engine" />
    <run name="encode" type="r2i.OWS.Formatters.Encode, r2i.OWS.Engine" />
    <run name="encrypt" type="r2i.OWS.Formatters.Encrypt, r2i.OWS.Engine" />
    <run name="endswith" type="r2i.OWS.Formatters.EndsWith, r2i.OWS.Engine" />
    <run name="escape" type="r2i.OWS.Formatters.Escape, r2i.OWS.Engine" />
    <run name="exists" type="r2i.OWS.Formatters.Exists, r2i.OWS.Engine" />
    <run name="firewall" type="r2i.OWS.Formatters.Firewall, r2i.OWS.Engine" />
    <run name="file" type="r2i.OWS.Formatters.File, r2i.OWS.Engine" />
    <run name="friendlyurl" type="r2i.OWS.Formatters.FriendlyUrl, r2i.OWS.Engine" />
    <run name="indexof" type="r2i.OWS.Formatters.IndexOf, r2i.OWS.Engine" />
    <run name="isdate" type="r2i.OWS.Formatters.IsDate, r2i.OWS.Engine" />
    <run name="isempty" type="r2i.OWS.Formatters.IsEmpty, r2i.OWS.Engine" />
    <run name="isinrole" type="r2i.OWS.Formatters.IsInRole, r2i.OWS.Engine" />
    <run name="isnumeric" type="r2i.OWS.Formatters.IsNumeric, r2i.OWS.Engine" />
    <run name="issuperuser" type="r2i.OWS.Formatters.IsSuperUser, r2i.OWS.Engine" />
    <run name="lastindexof" type="r2i.OWS.Formatters.LastIndexOf, r2i.OWS.Engine" />
    <run name="left" type="r2i.OWS.Formatters.Left, r2i.OWS.Engine" />
    <run name="length" type="r2i.OWS.Formatters.Length, r2i.OWS.Engine" />
    <run name="list" type="r2i.OWS.Formatters.List, r2i.OWS.Engine" />
    <run name="split" type="r2i.OWS.Formatters.Split, r2i.OWS.Engine" />
    <run name="lower" type="r2i.OWS.Formatters.Lower, r2i.OWS.Engine" />
    <run name="mapparenturl" type="r2i.OWS.Formatters.MapParentUrl, r2i.OWS.Engine" />
    <run name="mappath" type="r2i.OWS.Formatters.MapPath, r2i.OWS.Engine" />
    <run name="mapurl" type="r2i.OWS.Formatters.MapUrl, r2i.OWS.Engine" />
    <run name="md5hash" type="r2i.OWS.Formatters.MD5Hash, r2i.OWS.Engine" />
    <run name="mid" type="r2i.OWS.Formatters.Mid, r2i.OWS.Engine" />
    <run name="pad" type="r2i.OWS.Formatters.Pad, r2i.OWS.Engine" />
    <run name="parentpath" type="r2i.OWS.Formatters.ParentPath, r2i.OWS.Engine" />
    <run name="replace" type="r2i.OWS.Formatters.Replace, r2i.OWS.Engine" />
    <run name="replicate" type="r2i.OWS.Formatters.Replicate, r2i.OWS.Engine" />
    <run name="reverseparentpath" type="r2i.OWS.Formatters.ReverseParentPath, r2i.OWS.Engine" />
    <run name="reversepath" type="r2i.OWS.Formatters.ReversePath, r2i.OWS.Engine" />
    <run name="right" type="r2i.OWS.Formatters.Right, r2i.OWS.Engine" />
    <run name="sqlfind" type="r2i.OWS.Formatters.SqlFind, r2i.OWS.Engine" />
    <run name="startswith" type="r2i.OWS.Formatters.StartsWith, r2i.OWS.Engine" />
    <run name="striphtml" type="r2i.OWS.Formatters.StripHtml, r2i.OWS.Engine" />
    <run name="tab" type="r2i.OWS.Formatters.Tab, r2i.OWS.Engine" />
    <run name="trim" type="r2i.OWS.Formatters.Trim, r2i.OWS.Engine" />
    <run name="unescape" type="r2i.OWS.Formatters.Unescape, r2i.OWS.Engine" />
    <run name="upper" type="r2i.OWS.Formatters.Upper, r2i.OWS.Engine" />
    <run name="url" type="r2i.OWS.Formatters.Url, r2i.OWS.Engine" />
    <!--
    <run name="myformat" type="myExtensions.myFormat, myExtensions" />
    -->
  </formats>
  <queries>
    <admin name="r2i.OWS.Engine" type="r2i.OWS.Queries.js" />
    <run name="database" type="r2i.OWS.Queries.Database, r2i.OWS.Engine" />
    <run name="directory" type="r2i.OWS.Queries.Directory, r2i.OWS.Engine" />
    <run name="json" type="r2i.OWS.Queries.JSON, r2i.OWS.Engine" />
    <run name="xml" type="r2i.OWS.Queries.XML, r2i.OWS.Engine" />
  </queries>
  <tokens>
    <admin name="r2i.OWS.Engine" type="r2i.OWS.Renderers.js" />
    <run name="action" type="r2i.OWS.Renderers.RenderAction, r2i.OWS.Engine" />
    <run name="actions" type="r2i.OWS.Renderers.RenderActions, r2i.OWS.Engine" />
    <run name="alternate" type="r2i.OWS.Renderers.RenderAlternate, r2i.OWS.Engine" />
    <run name="checkitem" type="r2i.OWS.Renderers.RenderCheckItem, r2i.OWS.Engine" />
    <run name="checklist" type="r2i.OWS.Renderers.RenderCheckList, r2i.OWS.Engine" />
    <run name="checklistitem" type="r2i.OWS.Renderers.RenderCheckListItem, r2i.OWS.Engine" />
    <run name="coalesce" type="r2i.OWS.Renderers.RenderCoalesce, r2i.OWS.Engine" />
    <run name="columns" type="r2i.OWS.Renderers.RenderColumns, r2i.OWS.Engine" />
    <run name="count" type="r2i.OWS.Renderers.RenderCount, r2i.OWS.Engine" />
    <run name="filter" type="r2i.OWS.Renderers.RenderFilter, r2i.OWS.Engine" />
    <run name="filtertag" type="r2i.OWS.Renderers.RenderFilterTag, r2i.OWS.Engine" />
    <run name="format" type="r2i.OWS.Renderers.RenderFormat, r2i.OWS.Engine" />
    <run name="iif" type="r2i.OWS.Renderers.RenderIIF, r2i.OWS.Engine" />
    <run name="locale" type="r2i.OWS.Renderers.RenderLocale, r2i.OWS.Engine" />
    <run name="math" type="r2i.OWS.Renderers.RenderMath, r2i.OWS.Engine" />
    <run name="radio" type="r2i.OWS.Renderers.RenderRadio, r2i.OWS.Engine" />
    <run name="select" type="r2i.OWS.Renderers.RenderSort, r2i.OWS.Engine" />
    <run name="set" type="r2i.OWS.Renderers.RenderSet, r2i.OWS.Engine" />
    <run name="sort" type="r2i.OWS.Renderers.RenderSort, r2i.OWS.Engine" />
    <run name="sortheader" type="r2i.OWS.Renderers.RenderSortHeader, r2i.OWS.Engine" />
    <run name="sorttag" type="r2i.OWS.Renderers.RenderSortTag, r2i.OWS.Engine" />
    <run name="subquery" type="r2i.OWS.Renderers.RenderSubQuery, r2i.OWS.Engine" />
    <run name="sum" type="r2i.OWS.Renderers.RenderSum, r2i.OWS.Engine" />
    <run name="texteditor" type="r2i.OWS.Renderers.RenderTextEditor, r2i.OWS.Engine" />
    <run name="variable" type="r2i.OWS.Renderers.RenderVariable, r2i.OWS.Engine" />
    <!--
    <run name="mytoken" type="myExtensions.myToken, myExtensions" />
    -->
  </tokens>
  <actions>
    <run name="assignment" type="r2i.OWS.Actions.AssignmentAction, r2i.OWS.Engine" />
    <run name="comment" type="r2i.OWS.Actions.CommentAction, r2i.OWS.Engine" />
    <run name="condition.else" type="r2i.OWS.Actions.ConditionElseAction, r2i.OWS.Engine" />
    <run name="condition.if.else" type="r2i.OWS.Actions.ConditionIfElseAction, r2i.OWS.Engine" />
    <run name="condition.if" type="r2i.OWS.Actions.ConditionIfAction, r2i.OWS.Engine" />
    <run name="delay" type="r2i.OWS.Actions.DelayAction, r2i.OWS.Engine" />
    <run name="email" type="r2i.OWS.Actions.EmailAction, r2i.OWS.Engine" />
    <run name="query" type="r2i.OWS.Actions.ExecuteAction, r2i.OWS.Engine" />
    <run name="file" type="r2i.OWS.Actions.FileAction, r2i.OWS.Engine" />
    <run name="filter" type="r2i.OWS.Actions.FilterAction, r2i.OWS.Engine" />
    <run name="goto" type="r2i.OWS.Actions.GotoAction, r2i.OWS.Engine" />
    <run name="input" type="r2i.OWS.Actions.InputAction, r2i.OWS.Engine" />
    <run name="log" type="r2i.OWS.Actions.LogAction, r2i.OWS.Engine" />
    <run name="loop" type="r2i.OWS.Actions.LoopAction, r2i.OWS.Engine" />
    <run name="message" type="r2i.OWS.Actions.ConditionMessageAction, r2i.OWS.Engine" />
    <run name="output" type="r2i.OWS.Actions.OutputAction, r2i.OWS.Engine" />
    <run name="redirect" type="r2i.OWS.Actions.RedirectAction, r2i.OWS.Engine" />
    <run name="region" type="r2i.OWS.Actions.RegionAction, r2i.OWS.Engine" />
    <run name="search" type="r2i.OWS.Actions.SearchAction, r2i.OWS.Engine" />
    <run name="template.variable" type="r2i.OWS.Actions.TemplateVariableAction, r2i.OWS.Engine" />
    <run name="template" type="r2i.OWS.Actions.TemplateAction, r2i.OWS.Engine" />

    <!--
    <run name="geocode" type="myExtensions.Geocode, myExtensions" />
    <admin name="myExtensions" type="Scripts/myExtensions.Geocode.js" />
    -->
    <admin name="tools.repository" type="Scripts/Tools.Repository.js" />
    <admin name="tools.events" type="Scripts/Tools.Debug.js" />
  </actions>
  <wrapper>
    <run name="DotNetNuke"  type="r2i.OWS.Wrapper.DNN.Entities.DnnAbstractFactory, r2i.OWS.Wrapper.DotNetNuke" />
  </wrapper>
</openwebstudio>