<openwebstudio>
  <general>
	  <admin name="jquery.growl" type="Scripts/jquery.growl.js" />
	  <admin name="admin.growl" type="Scripts/Admin_GrowlSettings.js" />
	  <admin name="admin.keybindings" type="Scripts/Admin_keybindings.js" />
  </general>
  <tokens>
    <run name="opencontrol" type="r2i.OWS.Renderers.RenderOpenControl, r2i.OWS.Engine" />
  </tokens>
</openwebstudio>