<openwebstudio>
  <formats>
    <run name="measurestring" type="r2i.OWS.Formatters.MeasureString, r2i.OWS.Engine" />
    <run name="encodejavascript" type="r2i.OWS.Formatters.EncodeJavascript, r2i.OWS.Engine" />
  </formats>
  <tokens>
    <run name="pager" type="r2i.OWS.Renderers.Pager, r2i.OWS.Engine" />
  </tokens>
</openwebstudio>