<openwebstudio>
  <queries>
    <run name="dotnetnuke_portals" type="r2i.OWS.Wrapper.DNN.Extensions.Queries.Portals, r2i.OWS.Wrapper.DNN.Extensions" />
  </queries>
  <formats>
    <run name="encodednn" type="r2i.OWS.Wrapper.DNN.Extensions.Formatters.EncodeDNN, r2i.OWS.Wrapper.DNN.Extensions" />
  </formats>  
</openwebstudio>