<openwebstudio>
  <general>
    <ui name="jquery" type="Scripts/jquery.js" title="JQuery" />
    <ui name="jquery.thickbox" type="Scripts/jquery.thickbox.js"  title="JQuery Thickbox" />
    <ui name="jquery.thickbox.css" mime="text/css"  type="Scripts/jquery.thickbox.css"  title="JQuery Thickbox Stylesheet" />
    <ui name="jquery.noconflict" type="Scripts/jquery.noconflict.js" title="JQuery NoConflict ($jq)" />    
  </general>
  <queries>
    <run name="system" type="r2i.OWS.Queries.SystemProperties, r2i.OWS.Engine" />
  </queries>
</openwebstudio>