<openwebstudio>
  <general>
    <admin name="jquery" type="Scripts/jquery.js" />
    <admin name="jquery.noconflict" type="Scripts/jquery.noconflict.js" />
    <admin name="jribbon" type="Scripts/jRibbon.js" />
    <admin name="ows" type="Scripts/OWS.js" />
    <admin name="ows.debug" type="Scripts/OWS.Debug.js" />
    <admin name="json" type="Scripts/json.js" />
    <admin name="admin.core" type="Scripts/admin_core.js" />
    <admin name="admin.load" type="Scripts/admin_onload.js" />
    <admin name="ows.utilities" type="Scripts/OWS.Utilities.js" />
    <admin name="admin.ribbon" type="Scripts/Admin_Ribbon.js" />
    <admin name="ows.community" type="Scripts/OWS.Community.js" />
    <admin name="admin.selector" type="Scripts/admin_selector.js" />
    <ui name="ows.general" type="Scripts/OWS.js" required="true" title="OWS General Runtime" />
    <ui name="ows.utilities" type="Scripts/OWS.Utilities.js" title="Include Utilities Library" />
    <ui name="ows.validation" type="Scripts/OWS.Validation.js"  title="Include Validation Library" />
  </general>
  <actions>
    <admin name="admin.actions" type="Scripts/admin_Actions.js" />
    <admin name="admin.config" type="Scripts/config.js" />
    <admin name="admin.render" type="Scripts/admin_onRender.js" />
    <admin name="admin.quickbuilder" type="Scripts/admin_QuickBuilder.js" />
  </actions>
</openwebstudio>