<macro>
  <license>
    Open Web Studio - http://www.OpenWebStudio.com
    Copyright (c) 2007-2013

    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
    documentation files (the "Software"), to deal in the Software without restriction, including without limitation
    the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
    to permit persons to whom the Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all copies or substantial portions of
    the Software.

    This Software and associated documentation files are subject to the terms and conditions of the Open Web Studio
    End User License Agreement and version 2 of the GNU General Public License.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
    TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
    THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
    CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
    DEALINGS IN THE SOFTWARE.
  </license>
  <commands>
    <command>Tools.ExternalCommand3</command>
  </commands>
  <versions>
    <version name="file" readonly="true">
      <major>2</major>
      <minor>2</minor>
      <build>16</build>
      <revision>0</revision>
    </version>
    <version name="assembly" readonly="true">
      <major>2</major>
      <minor>2</minor>
      <build>16</build>
      <revision>0</revision>
    </version>
  </versions>
  
  <paths>
    <!--DEFAULT-->
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Build</from>
      <select>*.dll</select>
      <where>!dotnetnuke.dll,!sharpziplib.dll</where>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\bin</insert>
    </path>
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Build</from>
      <select>*.pdb</select>
      <where>!dotnetnuke.pdb,!sharpziplib.pdb</where>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\bin</insert>
    </path>
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Build</from>
      <select>*.xml</select>
      <where>!dotnetnuke.xml,!sharpziplib.xml</where>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\bin</insert>
    </path>
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Code\r2i.OWS\UI\Scripts</from>
      <select>*.js,*.css</select>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\DesktopModules\OWS\Scripts</insert>
    </path>
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Code\r2i.OWS\UI</from>
      <select>*.css</select>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\DesktopModules\OWS</insert>
    </path>
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Code\r2i.OWS\UI\Images</from>
      <select>*.*</select>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\DesktopModules\OWS\Images</insert>
    </path>   
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Code\r2i.OWS\Wrappers\DotNetNuke\Wrapper</from>
      <select>*.ascx,*.aspx</select>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\DesktopModules\OWS</insert>
    </path>
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Code\r2i.OWS\Wrappers\DotNetNuke\Wrapper</from>
      <select>Admin.aspx.resx</select>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\DesktopModules\OWS</insert>
    </path>
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Code\r2i.OWS\Wrappers\DotNetNuke\Wrapper</from>
      <select>*.config</select>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\</insert>
    </path>   
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Code\r2i.OWS\Wrappers\DotNetNuke\Wrapper</from>
      <select>*.resx</select>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\DesktopModules\OWS\App_LocalResources</insert>
    </path>
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Code\r2i.OWS\Wrappers\DotNetNuke\Extensions\r2i.OWS.Wrapper.DotNetNuke.Extensions</from>
      <select>*.config</select>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\</insert>
    </path>
    <path>
      <from>C:\Work\Current\Corporate\OpenWebStudio\Source\Code\r2i.OWS\Wrappers\DotNetNuke\Extensions\r2i.OWS.Wrapper.DotNetNuke.Professional.Extensions</from>
      <select>*.config</select>
      <insert>C:\Work\Current\Personal\BuildaNuke\Websites\5PE\Website\</insert>
    </path>    
  </paths>
</macro>