<openwebstudio>
  <general>
    <admin name="jquery" type="Scripts/jquery.js" />
    <admin name="jquery.noconflict" type="Scripts/jquery.noconflict.js" />
    <admin name="jribbon" type="Scripts/jRibbon.js" />
    <admin name="ows" type="Scripts/OWS.js" />
    <admin name="ows.debug" type="Scripts/OWS.Debug.js" />
    <admin name="json" type="Scripts/json.js" />
    <admin name="admin.core" type="Scripts/admin_core.js" />
    <admin name="admin.load" type="Scripts/admin_onload.js" />
    <admin name="ows.utilities" type="Scripts/OWS.Utilities.js" />
    <admin name="admin.ribbon" type="Scripts/Admin_Ribbon.js" />
    <admin name="ows.community" type="Scripts/OWS.Community.js" />
    <admin name="admin.selector" type="Scripts/admin_selector.js" />
    <!--Begin Code Mirror and Emmet Scripts-->
    <admin name="codemirror-js" type="Scripts/CodeMirror/lib/codemirror.js" />
    <admin name="codemirror-show-hint-js" type="Scripts/CodeMirror/addon/hint/show-hint.js" />
    <admin name="codemirror-show-hint-javscript-js" type="Scripts/CodeMirror/addon/hint/javascript-hint.js" />
    <admin name="codemirror-show-hint-sql-js" type="Scripts/CodeMirror/addon/hint/sql-hint.js" />
    <admin name="codemirror-show-hint-html-js" type="Scripts/CodeMirror/addon/hint/html-hint.js" />
    <admin name="codemirror-show-hint-css-js" type="Scripts/CodeMirror/addon/hint/css-hint.js" />
    <admin name="codemirror-show-hint-xml-js" type="Scripts/CodeMirror/addon/hint/xml-hint.js" />
    <admin name="codemirror-mode-javascript-js" type="Scripts/CodeMirror/mode/javascript/javascript.js" />
    <admin name="codemirror-mode-htmlmixed-js" type="Scripts/CodeMirror/mode/htmlmixed/htmlmixed.js" />
    <admin name="codemirror-mode-css-js" type="Scripts/CodeMirror/mode/css/css.js" />
    <admin name="codemirror-mode-xml-js" type="Scripts/CodeMirror/mode/xml/xml.js" />
    <admin name="codemirror-mode-sql-js" type="Scripts/CodeMirror/mode/sql/sql.js" />
    <admin name="codemirror-emmet-js" type="Scripts/CodeMirror/addon/emmet/dist/emmet.js" />
    <admin name="codemirror-search-js" type="Scripts/CodeMirror/addon/search/search.js" />
    <admin name="codemirror-search-cursor-js" type="Scripts/CodeMirror/addon/search/searchcursor.js" />
    <admin name="codemirror-search-jumptoline-js" type="Scripts/CodeMirror/addon/search/jump-to-line.js" />
    <admin name="codemirror-search-dialog-js" type="Scripts/CodeMirror/addon/dialog/dialog.js" />
    <admin name="codemirror-closebrackets-js" type="Scripts/CodeMirror/addon/edit/closebrackets.js" />
    <admin name="codemirror-matchbrackets-js" type="Scripts/CodeMirror/addon/edit/matchbrackets.js" />
    <admin name="codemirror-comment-js" type="Scripts/CodeMirror/addon/comment/comment.js" />
    <!--End Code Mirror and Emmet Scripts-->
    <ui name="ows.general" type="Scripts/OWS.js" required="true" title="OWS General Runtime" />
    <ui name="ows.utilities" type="Scripts/OWS.Utilities.js" title="Include Utilities Library" />
    <ui name="ows.validation" type="Scripts/OWS.Validation.js"  title="Include Validation Library" />
  </general>
  <actions>
    <admin name="admin.actions" type="Scripts/admin_Actions.js" />
    <admin name="admin.config" type="Scripts/config.js" />
    <admin name="admin.render" type="Scripts/admin_onRender.js" />
    <admin name="admin.quickbuilder" type="Scripts/admin_QuickBuilder.js" />
  </actions>
</openwebstudio>